trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

jobs:
- job: build_and_deploy
  displayName: "Build, Test e Deploy"
  steps:
    - checkout: self

    - task: Bash@3
      displayName: 'Install OpenJDK 21 JDK'
      inputs:
        targetType: 'inline'
        script: |
          # sudo apt update
          # sudo apt install openjdk-21-jdk -y
          # sudo update-alternatives --set java /usr/lib/jvm/java-21-openjdk-amd64/bin/java
          # sudo update-alternatives --set javac /usr/lib/jvm/java-21-openjdk-amd64/bin/javac
          # export JAVA_HOME=/usr/lib/jvm/java-21-openjdk-amd64
          # echo "##vso[task.setvariable variable=JAVA_HOME]$JAVA_HOME"

          export RESOURCE_GROUP=$(RESOURCE_GROUP)
          printenv | grep RESOURCE

    - script: |
        mvn clean package
      displayName: "Build Maven"

    - script: mvn test
      displayName: "Run Tests"

    - script: |
        az login --service-principal -u $(AZURE_USER) -p $(AZURE_PASS) --tenant $(AZURE_TENANT)
        az acr login --name $(ACR_NAME)
        docker build -t $(ACR_NAME).azurecr.io/myimage:latest .
        docker push $(ACR_NAME).azurecr.io/myimage:latest
      displayName: "Build & Push Docker"

    - script: |
        az container create -g $(RESOURCE_GROUP) --name myapp \
        --image $(ACR_NAME).azurecr.io/myimage:latest \
        --cpu 1 --memory 1.5 --ports 80 --dns-name-label myuniqueapp
      displayName: "Deploy ACI"