trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

jobs:
- job: build_and_deploy
  displayName: "Build, Test e Deploy"
  steps:
    - checkout: self

    - task: Bash@3
      displayName: 'Install OpenJDK 21 JDK'
      inputs:
        targetType: 'inline'
        script: |
          sudo apt update
          sudo apt install openjdk-21-jdk -y
          sudo update-alternatives --set java /usr/lib/jvm/java-21-openjdk-amd64/bin/java
          sudo update-alternatives --set javac /usr/lib/jvm/java-21-openjdk-amd64/bin/javac
          export JAVA_HOME=/usr/lib/jvm/java-21-openjdk-amd64
          echo "##vso[task.setvariable variable=JAVA_HOME]$JAVA_HOME"

    - script: |
        mvn clean package
      displayName: "Build Maven"

    - script:  |
        mvn test
      displayName: "Run Tests"

    - script: |
        docker login -u $(dockerhub_username) -p $(dockerhub_password)
        docker build -t mottu-api .
        docker tag mottu-api $(dockerhub_username)/mottu-sprint-4:mottu-api
        docker push $(dockerhub_username)/mottu-sprint-4:mottu-api

      displayName: "Build & Push Docker"

    - script: |

        az login --service-principal -u $(login_user_cli) -p $(login_password_cli) --tenant $(login_tenant_cli)

        az provider register --namespace Microsoft.ContainerInstance
        
        az container create \
          --resource-group rg-sprint-4 \
          --name mottu-api-container \
          --image $(dockerhub_username)/mottu-sprint-4:mottu-api \
          --cpu 1 \
          --memory 1.5 \
          --ports 8081 \
          --environment-variables SPRING_DATASOURCE_URL=$(db_url_azure) SPRING_DATASOURCE_USERNAME=$(db_user_azure) SPRING_DATASOURCE_PASSWORD=$(db_password_azure) \
          --os-type Linux \
          --dns-name-label mottu-api-demo \
          --registry-login-server docker.io \
          --registry-username $(dockerhub_username) \
          --registry-password $(dockerhub_password)
        
      displayName: "Deploy ACI"