<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/layout :: head('Home - Mottu')}"></head>
<body>
<header th:replace="~{fragments/layout :: header}"></header>
<main>
	<section>
		<h2>Bem-vindo, <span th:text="${usuario}"></span></h2>
		<p sec:authorize="hasRole('ADMIN')">Você está logado como ADMIN. Você pode gerenciar motos e movimentações.</p>
		<p sec:authorize="hasRole('OPERADOR')">Você está logado como OPERADOR. Você pode realizar movimentações.</p>
	</section>
</main>
<footer th:replace="~{fragments/layout :: footer}"></footer>
</body>
</html> 